# Configuración de la Base de Datos Local
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_contrasena_segura_aqui
POSTGRES_DB=aquabloom

# Configuración Web
# VITE_API_URL debe apuntar al localhost del host para que el navegador lo resuelva
VITE_API_URL=http://localhost:5000/api/v1

# Configuración de Supabase
SUPABASE_URL=http://tu-url-de-supabase
SUPABASE_ANON_KEY=tu_clave_anonima_aqui
